pip install pandas
pip install numpy 
pip install scikit-learn==0.23.1
pip install flask
pip install matplotlib
click==8.0.1
Flask==2.0.1
Flask-MySQLdb==0.2.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
mysqlclient==2.0.3
Werkzeug==2.0.1

python 3.8