<!doctype html>
<html lang="en">
  <head>
    <title>Credit card fraud detection </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="../static/fonts/icomoon/style.css">

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/jquery-ui.css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="../static/css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="../static/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="../static/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="../static/css/aos.css">

    <link rel="stylesheet" href="../static/css/style.css">
    <style>
      body{
                background-image: url('../static/video/ccc.mp4');
                background-size:cover;
                background-repeat:no-repeat;
            }
      .up-video{
                position: absolute;
                right:0;
                bottom:0;
                z-index: -1;

            }
    </style>
    
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>


  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   
    
    <header class="site-navbar js-sticky-header site-navbar-target" role="banner">

      <div class="container">
        <div class="row align-items-center">
          
          <div class="col-6 col-xl-2">
            <h1 class="mb-0 site-logo"><a href="index.html" class="h2 mb-0">Fraud<span class="text-primary">.</span> </a></h1>
          </div>

          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="{{url_for('index')}}" class="nav-link">Home</a></li>
                 
                
                <li><a href="{{url_for('login')}}" class="nav-link">Login</a></li>
                 
              </ul>
            </nav>
          </div>


          <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a></div>

        </div>
      </div>
      
    </header>

  
     
    <div class="site-blocks-cover overlay"  data-aos="fade" id="home-section">
      <div>
        <video autoplay loop muted plays-inline class="up-video" src="/static/video/InShot_20230718_083000793.mp4">        
      </video>
    </div>
      <div class="container">
        <div class="row align-items-center justify-content-center">

          
          <div class="col-md-10 mt-lg-5 text-center">
            <div class="single-text owl-carousel">
              <div class="slide">
                <h1 class="text-uppercase" data-aos="fade-up">Credit Card Fraud Detection</h1>
                <p class="mb-5 desc"  data-aos="fade-up" data-aos-delay="100">Using
State-of-the-Art Machine Learning
and Deep Learning Algorithms</p>
                <div data-aos="fade-up" data-aos-delay="100">
                </div>
              </div>

              <div class="slide">
                <h1 class="text-uppercase" data-aos="fade-up">Credit Card Fraud Detection</h1>
                <p class="mb-5 desc"  data-aos="fade-up" data-aos-delay="100">Using
State-of-the-Art Machine Learning
and Deep Learning Algorithms</p>
              </div>

              <div class="slide">
                <h1 class="text-uppercase" data-aos="fade-up">Credit Card Fraud Detection</h1>
                <p class="mb-5 desc"  data-aos="fade-up" data-aos-delay="100">Using
State-of-the-Art Machine Learning
and Deep Learning Algorithms</p>
              </div>

            </div>
          </div>
            
        </div>
      </div>

       
    </div>  

    
 

    
     

    
    
    <!-- <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
             
           
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            
          </div>
          
        </div>
      </div>
    </footer> -->

  </div> <!-- .site-wrap -->

  <script src="../static/js/jquery-3.3.1.min.js"></script>
  <script src="../static/js/jquery-ui.js"></script>
  <script src="../static/js/popper.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/owl.carousel.min.js"></script>
  <script src="../static/js/jquery.countdown.min.js"></script>
  <script src="../static/js/jquery.easing.1.3.js"></script>
  <script src="../static/js/aos.js"></script>
  <script src="../static/js/jquery.fancybox.min.js"></script>
  <script src="../static/js/jquery.sticky.js"></script>
  <script src="../static/js/isotope.pkgd.min.js"></script>

  
  <script src="../static/js/main.js"></script>

  
  </body>
</html>